<link rel='stylesheet' href='/stylesheets/menu/menu.css' />

<h2 class="text-center text-danger">Product Search Option:</h2>

<div class="edit-search-options">
    <ul>
        <a href="#"><li>All</li></a>
        <a href="#"><li>Category</li></a>
        <a href="#"><li>Ref</li></a>
        <a href="#"><li>Price</li></a>
        <a href="#"><li>User</li></a>
        <a href="#"><li>Date</li></a>
        <a href="#"><li>Rate</li></a>
        <a href="#"><li>Type</li></a>
    </ul>
</div>
