<link rel='stylesheet' href='/stylesheets/menu/menu.css' />

<a href="products/add"><button class="btn btn-danger m-3 p-2">Add New Product</button></a>

<h2 class="text-center text-danger">Product Search Option:</h2>

<div class="edit-search-options">
    <ul>
        <a href="products/find/all"><li>All</li></a>
        <a href="products/find/category"><li>Category</li></a>
        <a href="products/find/ref"><li>Ref</li></a>
        <a href="products/find/price"><li>Price</li></a>
        <a href="products/find/user"><li>User</li></a>
        <a href="products/find/date"><li>Date</li></a>
        <a href="products/find/rate"><li>Rate</li></a>
        <a href="products/find/type"><li>Type</li></a>
    </ul>
</div>
