<link rel='stylesheet' href='/stylesheets/menu/menu.css' />


<h2 class="text-center text-danger">Product Search Option:</h2>

<div class="edit-search-options">
    <ul>
        <a href="product/add"><li>Add</li></a>
        <a href="product/edit"><li>Edit</li></a>
    </ul>
</div>
