<link rel='stylesheet' href='/stylesheets/menu/menu.css' />

<h2 class="text-center text-danger mt-3">Product Search Option:</h2>

<div class="edit-search-options">
    <ul>
        <a href="edit/all"><li>All</li></a>
        <a href="edit/category"><li>Category</li></a>
        <a href="edit/ref"><li>Ref</li></a>
        <a href="edit/price"><li>Price</li></a>
        <a href="edit/user"><li>User</li></a>
        <a href="edit/date"><li>Date</li></a>
        <a href="edit/rate"><li>Rate</li></a>
        <a href="edit/type"><li>Type</li></a>
    </ul>
</div>
