<link rel='stylesheet' href='/stylesheets/menu/menu.css' />

<h2 class="text-center text-danger mt-3">User Search Option:</h2>

<div class="edit-search-options">
    <ul>
        <a href="/category/add"><li>Add</li></a>
        <a href="/category/edit"><li>Edit</li></a>
    </ul>
</div>
