<link rel='stylesheet' href='/stylesheets/menu/menu.css' />

<h2 class="text-center text-danger mt-3">Product Search Option:</h2>

<div class="edit-search-options">
    <ul>
        <a href="category/all"><li>All</li></a>
        <a href="category/role"><li>category name</li></a>
    </ul>
</div>
