<form method="post">
    <div class="form-group has-success">

        <label for="example-text-input text-success" class="col-12 col-form-label ">
            <h3 class="text-danger ml-4">Create New User</h3>
        </label>

        <label for="example-text-input text-success " class="col-12 col-form-label">
            <h4 class="text-primary pl-2">Username:</h4>
        </label>

        <div class="col-lg-6 col-md-8 col-sm-9 col-xs-9 ">
            <input placeholder="item title" class="form-control" type="text" name="username" id="example-text-input">
        </div>

        <div class="col-lg-6 col-md-8 col-sm-9 col-xs-9 mt-3 ">
            <input class="btn btn-success btn-lg" type="submit" value="Submit">
        </div>

    </div>
</form>