<link rel='stylesheet' href='/stylesheets/menu/menu.css' />

<a href="users/add/newuser"><button class="btn btn-danger m-3 p-2">Add New User</button></a>

<h2 class="text-center text-danger">User Search Option:</h2>

<div class="edit-search-options">
    <ul>
        <a href="users/find/all"><li>All</li></a>
        <a href="users/find/by-role"><li>Role</li></a>
        <a href="users/find/by-rate"><li>Rate</li></a>
        <a href="users/find/by-email"><li>Email</li></a>
        <a href="users/find/by-username"><li>Username</li></a>   
    </ul>
</div>
