<link rel='stylesheet' href='/stylesheets/menu/menu.css' />

<h2 class="text-center text-danger">User Search Option:</h2>

<div class="edit-search-options">
    <ul>
        <a href="#"><li>All</li></a>
        <a href="#"><li>Role</li></a>
        <a href="#"><li>Rate</li></a>
        <a href="#"><li>Email</li></a>
        <a href="#"><li>Username</li></a>   
    </ul>
</div>
