<link rel='stylesheet' href='/stylesheets/menu/menu.css' />

<h2 class="text-center text-danger mt-3">Product Search Option:</h2>

<div class="edit-search-options">
    <ul>
        <a href="edit/all"><li>All</li></a>
        <a href="edit/role"><li>role</li></a>
        <a href="edit/email"><li>Email</li></a>
        <a href="edit/username"><li>Username</li></a>
         <a href="edit/rate"><li>Rate</li></a>

    </ul>
</div>
