<div class="container b-3 m-3">
    <h3 class="text-danger">User Information</h3>
    <div class="container">
        <h4 class="text-info">Id:</h4>
        <h5>{{data._id}}</h5>
        <h4 class="text-info">Username</h4>
        <h5>{{data.username}}</h5>
    </div>
    <div>
        <a href="/user/update/{{data._id}}">
            <button class="btn btn-danger">Update</button>
        </a>
        <a href="/user/delete/{{data._id}}">
            <button class="btn btn-danger">Delete</button>
        </a>
    </div>
</div>